.corpo {
    flex:  1 1 0;
    background: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Iconi {
    margin: 0; 
    text-align: left;
    position: absolute;
    left: 15px;
}

.IconiImagem {
    display: flex;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
}
  
footer { 
    position: fixed; 
    bottom: 0;
}

.Banner {
    width: 100vw;
    height: 20vh;
    overflow: hidden;
}

.imgBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cabecaDaEmpresa {
    width: 100%;
    padding-left: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.avaliacao {
    position: absolute;
    top: -14%;
    display: flex;
    align-items: center;
    width: 64px;
    height: 25px;
    border: none;
    background-color: var(--dourado);
    border-radius: 5px;
    color: var(--branco);
}

.estrela {
    margin-left: 3px;
    margin-right: 4px;
    margin-bottom: 1px;
    color: var(--branco);
    font-size: 16px;
}

.setaAvaliacao {
    margin-bottom: 1px;
}

.Titulo {
    font-weight: 600;
    font-size: 30px;
    font-family: "Nunito", serif;
    width: 160px;
    margin-top: 15px;
    color: var(--Roxo);
}

.divInfo {
    display: flex;
    align-items: center;
}

.setaInfo {
    margin-top: 1px;
    margin-left: 5px;
    font-size: 12px;
}

.paragrafoInfo {
    font-size: 12px;
}

.LogoInfo {
    margin-top: 1px;
    margin-right: 2px;
}

.divFotoPerfil {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    left: 70%;
    top: -52%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoPerfil {
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px;
}

.paragrafoHora {
    font-size: 12px;
}

.divComplemento {
    margin-top: 28px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.Entrega {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecaEntrega {
    display: flex;
    align-items: center;
}

.tituloEntrega {
    color: var(--verde-claro);
}

.logoMoto {
    color: var(--verde-claro);
    margin-left: 2px;
    margin-right: 4px;
}

.Minuto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecaMinutosEntrega {
    display: flex;
    align-items: center;
}

.logoCelular {
    margin-right: 6px;
}

.DivPagamentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.DivPagamentos:hover {
    transition: 0.3s;
    color: var(--verde-claro);
}

.logoBank {
    margin-right: 1px;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 50%;
    transition: bottom 1s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.8s ease-in-out;
    overflow: hidden;
    opacity: 0;
}

.modal.show {
    display: block;
    bottom: 0;
    opacity: 1;
}

.modalContent {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButton {
    position: relative;
    width: 280px;
    height: 50px;
    font-weight: 600;
    background: var(--branco);
    color: var(--Roxo-escuro);
    border: 1.5px solid var(--Roxo-escuro);
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    bottom: -20%;
}

.tituloModal {
    color: var(--Roxo-escuro);
}

.barraModal {
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background: var(--cinza);
    margin-bottom: 15px;
}

.formaPeloApp {
    margin-right: 35vw;
}

.pagamentos {
    margin-left: 2vw;
}

.subTitulo {
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-weight: 500;
    font-size: 22px;
}

.divPix {
    display: flex;
    align-items: center;
}

.logoPix {
    color: var(--verde-claro);
    font-size: 24px;
    margin-right: 2vw;
}

.divPagamentoOnline {
    display: flex;
    margin-top: 1.5vw;
}

.logoPagamentoOnline {
    margin-right: 1.5vw;
}

.divDinheiro {
    display: flex;
    align-items: center;
    margin-top: 1vw;
}

.logoDinheiro {
    font-size: 24px;
    color: var(--Roxo-escuro);
    margin-right: 1.5vw;
}

.divAPagar {
    display: flex;
    align-items: center;
}

.logoAPagar {
    font-size: 22px;
    color: var(--Roxo-escuro);
    margin-top: 3vw;
    margin-right: 1vw;
}