section {
  width: 90vw;
  border-radius: 20px;
  margin: auto;
}

.searchContainer {
  position: relative;
  z-index: 1;
}

.Search {
  display: flex;
  align-items:center ;
  border: 1px solid var(--branco-neutro);
  width: 90vw;
  margin: 20px auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--cinza-escuro);
  background-color: var(--branco);
}

.searchInput {
  padding: 8px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.Search label {
  height: 20px;
}

.resultadosLista {
  position: absolute;
  top: 94%;
  width: 85%;
  padding-left: 10px;
  list-style: none;
  color: var(--Roxo);
  background: var(--branco);  
  border: 1px solid var(--branco-neutro);
  border-top: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.resultadoItem {
  cursor: pointer;
  color: var(--Roxo);
}

.resultadoItem:hover {
  background-color: var(--cinza);
}