section {
  width: 90vw;
  border-radius: 20px;
  margin: auto;
}

.Search {
  display: flex;
  align-items:center ;
  border: 1px solid var(--branco-neutro);
  width: 90vw;
  margin: 20px auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: var(--cinza-escuro);
  background-color: var(--branco);
}

.searchInput {
  padding: 8px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.Search label {
  height: 20px;
}

.resultadosLista {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  height: 50px;
}

.resultadoItem {
  cursor: pointer;
  color: var(--Roxo);
}

.resultadoItem:hover {
  background-color: var(--cinza);
}