section {
  width: 90vw;
  border-radius: 20px;
  margin: auto;
}

.Search {
  display: flex;
  align-items:center ;
  border: 1px solid #ccc;
  width: 90vw;
  margin: 20px auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: #4b4b4b;
  background-color: var(--branco);
}

.searchInput {
  padding: 8px;
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.Search label {
  height: 20px;
}
