.InputBox {
    position: relative;
    width: 100%;
    height: 50px;
}

.InputBox input {
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #282828;
    padding: 20px 45px 20px 20px;
}

.InputBox input::placeholder {
    color: #282828;
} 

.InputBox input:hover {
    transition: 0.1s;
    border: 2px solid var(--laranja);
}

.InputBox i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}