.container-input {
    padding: 7px;
}

.container-input input{
    border-radius: 49px;
    width: 250px;
    height: 30px;
    padding-left: 50px;
    background-color: #D9D9D9;
    color: #282828;
    border: 0;
}