#root {
    width: 100vw;
    height: 100vh;
  }


.container-principal {
    width: 100vw;
    height: 100vh;
}

.container-button h1{
    color: var(--laranja);
}

.container-button h4{
    color: var(--preto);
}

.container-comerciante-cliente {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 45px;
}

.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-title h1{
    color:var(--laranja);
    padding-bottom: 20px;
}

.container-title h4 {
    padding-top: 30px;
}

.container-comerciante-cliente h1 {
    padding-top: 70px;
    padding: 70px 30px ;
}



