.container {
  width: 100%;
  height: 210px;
  background-color: var(--branco);
}

.titulo {
  padding-left: 4vw;
  padding-top: 0.8vh;
  padding-bottom: 0.5vh;
  font-weight: 500;
  font-size: 21px;
}

.realMap {
  width: 100%;
  height: 170px;
  overflow: hidden;
}

.mapa {
  object-fit: cover;
}

.rodape {
  height: 15px;
  background-color: var(--branco);
}