
.cotainer-header {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cotainer-header button {
    padding: 10px;
    border-radius: 120px;
    width: 90px;
    border: 0;

}

.div-container-hearder {
    padding: 10px;
}

.button-inicio {
    background-color: var(--laranja);
    border: 0;
    color:var(--branco) ;
}

.container-voltar {
    font-weight: 500;
    width: 130px;
    border: 0;
    border-radius: 30px;
    background-color: var(--cinza);
    height: 35px;
    color: var(--laranja);
}

.container-button {
    padding-left: 40px;
}

.container-email input{
    border-radius: 49px;
    width: 250px;
    height: 30px;
    background-color:var(--cinza);
    color: var(--preto-claro);
    border: 0;
    padding-left: 50px;
}

.container-email {
    padding: 10px;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cadastro h2 {
    color: var(--laranja);
}

.container-form {
    padding-top: 30px;
}

.button-cad {
    color:  var(--branco);
    font-weight: 500;
    width: 130px;
    border: 0;
    border-radius: 30px;
    background-color: var(--laranja);
    height: 35px;
    margin-top: 20px;
}