#root {
    width: 100vw;
    height: 100vh;
    padding: 15vh 13vh;
  }

.container-home {
    background-color: var(--branco);
    display: flex;
    height: 100%;
    border-radius: 8px;
}

.container-find-hunger {
    background-color: var(--laranja);
    border-radius: 8px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 95px;
}

.container-find-hunger h3{
    color: var(--branco);
    font-size: 23px;

}

.container-find-hunger p{
    color: var(--branco);
    font-size: 10px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.button-cad {
    color: var(--laranja);
    font-weight: 500;
    width: 130px;
    border: 0;
    border-radius: 30px;
    background-color: var(--branco);
    height: 35px;
}

.container-login {
    background-color: var(--branco);
    width: 100%;
}

.container-login-auth  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 45px;
}

.title-container-login {
    color:  var(--laranja);
    font-size: 23px;
}

.subtitle-container-login {
    font-size: 10px;
    padding-bottom: 50px;
}

.container-email {
    padding: 7px;
}

.container-email input{
    border-radius: 49px;
    width: 250px;
    height: 30px;
    padding-left: 50px;
    background-color: var(--branco);
    color: var(--preto-claro);
    border: 0;
}

.button-open {
    background-color:  var(--laranja);
    font-weight: 500;
    width: 130px;
    border: 0;
    border-radius: 30px;
    color: var(--branco);
    height: 35px;
}

.div-button-open {
    padding-top: 30px;
    padding-bottom: 5px;
}

.link-password {
    font-size: 8px;
}