.button-cad {
    color: var(--laranja);
    font-weight: 500;
    width: 130px;
    border: 0;
    border-radius: 30px;
    background-color: var(--branco);
    height: 35px;
}


.button-cad:hover {
    cursor: pointer;
}