*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --laranja: #FF4900;
    --laranja-claro:#fa6e36;
    --preto-claro: #282828;
    --branco: #FFF;
    --branco-cinza: #D9D9D9;
    --cinza: #D9D9D996;
    --preto: #000;
    --branco-escuro: #F6F5F5;
    --azul-marinho:#03081F;
    --verde: #058733;
}

body{
    font-size: 100%;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
}

