*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --laranja: #FF4900;
    --preto-claro: #282828;
    --branco: #FFF;
    --branco-cinza: #D9D9D9;
    --cinza: #D9D9D996;
    --preto: #000;
}

body{
    font-size: 100%;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}


