.container {
  top: 0;
  width: 100vw;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgbanner {
  object-fit: cover;
  border-radius: 0;
  height: 100%;
  width: 100vw;
  margin: 0;
}